# Ignore everything by default
*
!**/
*.md
*.deb
*key_*
*.pem

# Whitelist specific file types
!*.tf
!*.py
!*.yaml
!*.yml
!*.zip
!*.html
!*.txt
!Dockerfile

# Whitelist the .gitignore file itself
!.gitignore
